{
	"plugins": [
		"macros",
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@mui/material",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"core"
		],
		[
			"babel-plugin-import",
			{
				"libraryName": "@mui/icons-material",
				"libraryDirectory": "",
				"camel2DashComponentName": false
			},
			"icons"
		]
	],
	"presets": [
		["@babel/preset-env", { "targets": { "node": "current" } }],
		["@babel/preset-react", { "targets": { "node": "current" } }] // add this
	]
}
