# Node Modules
/node_modules
/*/*node_modules*

./rtc-video-room-cert.pem

./rtc-video-room-key.pem

./vscode

# Mac stuff
.DS_Store

# Environment variables
.env
.env_server

# Logs
nohup.out

# Misc
package-lock.json
uploads/*/*
uploads/
uploads

assets/3dFaceTest/.cache/
assets/3dFaceTest/node_modules
assets/3dFaceTest/dist
