body {
   font-family: sans-serif;
   margin: 0;
   padding: 0;
 }

 video {
  display: block;
  position: fixed;
  width: 100% !important;
  height: auto !important;
  top: 0px;
  left: 0px;
  opacity: 0.2;
  transform: scaleX(-1);
 }
 