
.toolbar-container {
   padding: 0.8em 4em;
   max-height: 15vh; //Initially hidden
   width: 100vw;
   border-bottom: 1px solid #575757b0;
  //  overflow: hidden;
   transition: max-height 0.3s ease;
   display: flex;
   position: relative;
   top: 0;
   flex-direction: column;
   place-items: center;
   place-content: center;
   z-index: 30;
   /* height: 15vh; */
   text-align: center;
   // padding: 1rem 0.5rem 0.5rem 11rem; //Remote video on the left
   // padding: 1rem 11rem 0.5rem 0.5rem; // Remote video on the right
   box-sizing: border-box;
   backdrop-filter: blur(25px);
   background-color: #121212;
   font-size: 0.9rem;
   // border-radius: 14px;
   box-shadow: 0px 0px 8px 3px #2424245e;
 
   & > * {
     position: relative;
     width: 100%;
     padding-bottom: 0.5rem;
     padding-top: 0.5rem;
     &::before, ::after{
       display: none;
       content: "";
       position: absolute;
       width: 90%;
       height: 0.8px;
       background-color: #b5b5b52c;
     }
     &:first-child{
       // padding-bottom: 0.5rem;
       &::after{
         // display: block;
         bottom: 0;
       }
     }
     &:last-child{
       padding-top: 1rem;
       &::before{
         display: block;
         top: 0;
       }
     }
   }
 
   .info{
     font-family: "Fira Code";
     display: grid;
     grid-template-columns: 2fr 10fr 2fr;
     grid-auto-flow: column;
     place-content: space-between;
     place-items: center;
     width: 100%;
     position: relative;
   }
 
   .timer{
     &.none {
       font-size: 130%;
     }
     &.running {
       font-size: 200%;
     }
     &.stopped {
       font-size: 160%;
       color: rgb(213, 213, 213, 0.5);
     }
     &.paused {
       font-size: 160%;
       color: rgb(213, 213, 213, 0.5);
     }
   }
 
   .meta-info{
     display: flex;
     flex-direction: row;
     font-size: 0.75rem;
     place-items: center;
     place-content: center;
     gap: 1rem;
     .user-info{
       display: flex;
       flex-direction: column;
       place-items: center;
       place-content: center;
       font-size: 0.7rem;
     }
     .room-info{
       display: flex;
       flex-direction: column;
       place-items: center;
       place-content: center;
     }
   }
 
   .toolbar-prompt{
     font-family: 'Montserrat', sans-serif;
     display: flex;
     place-self: center;
     text-align: center;
     place-content: center;
     place-items: center;
     font-size: 1.6rem;
     font-weight: 500;
     transition: all 0.2s;
   }
   .toolbar-block {
     position: relative;
     width: 100%;
     text-align: center;
     display: flex;
     place-content: center;
     place-items: center;
     flex-direction: column;
     height: 100%;
     gap: 0.15rem;
     font-size: 90%;
     div {
       width: 100%;
     }
   }
 }

.room-info {
  .room-name{
    text-transform: uppercase;
    font-weight: bold;
  }

  .users-list {
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
  }

  .room-user{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
  }
}

.conditions-dbg {
  display: flex;
  flex-direction: column;
  place-items: start;
  place-content: center;
  .conditions-list{
    display: flex;
    gap: 1.2em;
    .condition{
      display: inline;
      .features-list{
        display: inline-flex;
        gap: 0.5em;

        &::after, &::before{
          display: inline;
          position: relative;
          width: auto;
          color: white;
        }
        &::after{
          content: ']';
        }
        &::before{
          content: '[';
        }
      }
    }

  }
}
