@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Montserrat:wght@400;500;700&family=Roboto:wght@300;400;500&display=swap');
@import './style/breakpoints';
@import './style/survey';
@import './style/toasts';
@import './style/intro';
@import './style/toolbar';
@import './style/videos';
@import './style/controlRoom';

@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'), url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Fira Code', monospace;
  src: local('Fira Code'), url('./fonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat'), url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@media (max-width: 1024px) {
  body,
  input,
  button {
    font-size: 1em;
  }
}

body,
input,
button {
  font-size: 1.1rem;
  margin: 0;
  font-family: Sans-Serif;
  background-color: #121212;
}

input:focus,
button:focus {
  outline: 0;
}
input[type="text"] {
  border: none;
  border-bottom: solid 2px #4c4c4f;
  font-size: 1em;
  background-color: transparent;
  color: #fff;
  padding: 0.4em 0;
  margin: 2ex 0;
  width: 100%;
  max-width: 18em;
  display: block;
}
input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin-inline: 10px;
}

.checkboxtext {
  /* Checkbox text */
  margin-left: 10px;
  font-size: 20px;
  display: inline;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}
.call-exit-button,
.hangup-button,
.audio-button-true,
.audio-button-false,
.video-button-true,
.video-button-false,
.fullscreen-button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: rgba(44, 44, 44, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  box-shadow: 0.2ex 0.2ex 1.5em #444;
  transition: all 0.2s ease-out;
  margin: 0 0.4em;
  cursor: pointer;
}
.call-exit-button:hover,
.hangup-button:hover,
.audio-button-true:hover,
.audio-button-false:hover,
.video-button-true:hover,
.video-button-false:hover,
.fullscreen-button:hover {
  box-shadow: 0.4ex 0.4ex 3em #666;
  background: rgba(64, 124, 247, 1);
}
.you-left,
.remote-left,
.hangup-button,
.audio-button-true .on,
.video-button-true .on,
.video-button-false .off,
.fullscreen-button .on,
.room-occupied {
  display: none;
}
:-webkit-full-screen .fullscreen-button .on {
  display: block;
}
:-moz-full-screen .fullscreen-button .on {
  display: block;
}
:-ms-fullscreen .fullscreen-button .on {
  display: block;
}
:fullscreen .fullscreen-button .on {
  /* spec */
  display: block;
}
:-webkit-full-screen .fullscreen-button .off {
  display: none;
}
:-moz-full-screen .fullscreen-button .off {
  display: none;
}
:-ms-fullscreen .fullscreen-button .off {
  display: none;
}
:fullscreen .fullscreen-button .off {
  /* spec */
  display: none;
}
/* deeper elements */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}
.canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 15;
  /* background-color: transparent; */
}
.consent_form {
  z-index: 20;
  text-align: left;
  background-color: #121212;
  margin: auto;
  font-size: 20px;
}

.chatblock {
  position: absolute;
  height: 40%;
  width: 20%;
  z-index: 20;

  top: 50%;
  left: 15px;
  text-align: left;
}
.timer {
  box-sizing: border-box;
  // backdrop-filter: blur(25px);
  // background-color: #000000ca;
  border-radius: 14px;
  box-shadow: 0px 0px 8px 3px #2424245e;
  color: white;
  display: flex;
  place-items: center;
  place-content: center;
}

.hidden {
  max-height: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  transition: all 0.2s;
}

.survey-container{
  background-size: cover;
  position: relative;
  // top: 16vh;
  z-index: 19;
  // background-color: rgba(0,0,0,0.2);
  // backdrop-filter: blur(10px);
}

.main-call-container,
.main-room-container{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.main-call-container{
  &.stage-survey{
    .media-bridge{
      display: none;
    }
    .survey-container{
      display: block;
    }
  }
  &.stage-video-chat{
    .media-bridge{
      display: block;
    }
    .survey-container{
      display: none;
    }
  }
  .live-icon {
    font-size: 1.1rem;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 40;
    animation: none;
    color: #d3d3d35c;
  }
  &.established{
    .live-icon {
      animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
      color: red;
    }
  }
}

.media-bridge{
  position: relative;
  display: flex;
  place-items: center;
  place-content: center;
  height: 100%;
  width: 100%;
}

.auth {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 30;
}
.toolBar {
  z-index: 30;
  position: absolute;
}
.primary-button {
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  background-color: #4285f4;
  border: none;
  color: white;
  font-size: 0.9em;
  // margin: 0 5px 20px 5px;
  width: 7em;
  line-height: 3ex;
  padding: 1ex 0.7em;
  text-align: center;
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
  &.disabled{
    background-color: #707b8e;
    color: #c5c5c5;
    cursor: default;
    &:hover{
      filter: none;
    }
  }
  &:hover{
    filter: brightness(0.6);
  }
  &.accept{
    background-color: mediumseagreen;
  }
  &.reject{
    background-color: tomato;
  }
}
.media-controls {
  display: flex;
  margin: 2ex 0;
  justify-content: center;
  left: 0;
  right: 0;
}
.svg {
  width: 1.4em;
}
.room-occupied,
.request-access,
.waiting,
.grant-access,
.waiting {
  overflow: hidden;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  /* Initially we don't want any height, and we want the contents to be hidden */
  // max-height: 0;
  transition: max-height 0.3s ease;
}
.full .auth .room-occupied,
.guest-hangup .auth .request-access,
.join .auth .request-access,
.approve .auth .grant-access {
  transition-delay: 0.3s;
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.host-hangup .auth .waiting,
.create .auth .waiting {
  /* Set the max-height to something large. In this case there's an obvious limit. */
  max-height: 20ex;
}
.established .auth .hangup-button {
  display: flex;
}
/* Switch component */
.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 30px;
}

.progress-container{
  display: flex;
  gap: 1rem;
  place-content: center;
  place-items: center;
  width: 100%;
}


main, .main-room{
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  justify-content: center;
  justify-items: center;
  // width: 80vw;
  width: 100vw;
}
.main-room{
  height: 100vh;
}

.intro-form form {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  /* height: 20%; */
  place-content: center;
  place-items: center;
  label{
    font-size: 1.8rem;
    font-weight: 500;
  }
  input[type="text"]{
    text-align: center;
    font-size: 2rem;
    transition: all 0.2s ease-in;
    width: 80% !important;
    max-width: none !important;
    font-weight: 100;
    margin: 0;
    &:focus{
      border-bottom-color: white !important
    }
    &:disabled {
      color: #737373;
      opacity: 0.6;
    }
  }
  input[type="submit"], input[type="button"]{
    background-color: rgb(148, 146, 200, 0.15);
    border: 1px solid rgba(255,255,255,0.1);
    color: rgba(255,255,255,0.8);
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 40% !important;
    box-shadow: none;
    padding: 1rem 0.5rem;
    &:hover{
      box-shadow: none;
      background-color: rgba(255,255,255,0.2);
    }

  }
}
